@inject HttpClient HttpClient


<MatDialog @bind-IsOpen="@dialogIsOpen">
    <MatDialogTitle>User: @currentCompetition.CompetitionName</MatDialogTitle>
    <MatDialogContent>
        <p>Do you want to delete competition @currentCompetition.CompetitionName?</p>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@OnConfirm" Class="btn btn-danger ml-auto">Delete</MatButton>
        <MatButton OnClick="@OnCancel" Class="btn btn-secondary mr-auto">Cancel</MatButton>
    </MatDialogActions>
</MatDialog>

@code {

    [Parameter] public Competition currentCompetition { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public bool dialogIsOpen { get; set; }


}
