@inject HttpClient HttpClient

<MatDialog @bind-IsOpen="@dialogIsOpen">
    <MatDialogTitle>Global #: @catchMade.GlobalCatchNumber Personal #: @catchMade.CatchNumber <br/> @catchMade.Fish - @catchMade.Length cm<br />@catchMade.CatchDate.ToLocalTime()</MatDialogTitle>
    <MatDialogContent>
        <img src="@url" width="300px" />
        <br/>
        <a href="@url">Download</a>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@OnClose" Class="btn btn-secondary">Close</MatButton>
    </MatDialogActions>
</MatDialog>

@code {
    [Parameter] public string url { get; set; }
    [Parameter] public Catch catchMade { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public bool dialogIsOpen { get; set; }
    [Parameter] public bool isAdmin { get; set; }

}
