@page "/admincatches"
@inject IHttpClientFactory ClientFactory
@inject IMatToaster Toaster
@inject FokkersFishing.Client.Helpers.CompetitionState competitionState
@using System.ComponentModel
@using System.IO
@attribute [Authorize(Roles = "Administrator")]

<div class="main">

    @if (catches == null & currentCatch == null)
    {
        <p><em>Loading all catches</em></p>
        <MatProgressBar Indeterminate="true"></MatProgressBar>
    }
    else
    {
        @if (competitionState.Active)
        {
            <MatCheckbox Label="Only show catches in competition" @bind-Value="OnlyShowCompetitionCatches" />
        }
        @foreach (Catch catchRow in catches)
        {
            string image = string.Empty;
            string textColor = string.Empty;
            if (catchRow.CatchPhotoUrl != null)
            {
                image = catchRow.CatchPhotoUrl;
                textColor = "grey";
            }
            else
            {
                image = "https://fokkersfishingstorage.blob.core.windows.net/catches/NoCatch.png";
                textColor = "red";
            }
            <MatCard class="demo-mat-card">
                <MatCardContent>
                    <div class="demo-mat-card-content" style="color: @textColor;">
                        <MatHeadline6 class="demo-mat-card-clean-margin">
                            Global Catch # @catchRow.GlobalCatchNumber (@catchRow.Fish - @catchRow.Length cm)
                            <br>
                        </MatHeadline6>
                        <MatSubtitle2 class="demo-mat-card-clean-margin">
                            Catch date: @catchRow.CatchDate.ToLocalTime()
                            <br />
                            User Catch # @catchRow.CatchNumber
                            <br />
                            Caught by: @catchRow.UserName
                        </MatSubtitle2>
                        <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                            Logged: @catchRow.LogDate.ToLocalTime()
                            <br />
                            Edited: @catchRow.EditDate.ToLocalTime()
                        </MatBody2>
                    </div>
                </MatCardContent>
                <MatCardActions>
                    <MatCardActionIcons>
                         @if (catchRow.CaughtInCompetition)
                        {
                            <MatFAB Icon="@MatIconNames.Fitness_center" Label="Caught in competition" style="color: black;background-color: lightgrey" />                                                        
                        }
                        @switch (catchRow.Status)
                        {
                            case CatchStatusEnum.Approved:
                                {
                                    <MatFAB Icon="@MatIconNames.Done_all" Label="Approved" style="color: lightgreen;background-color: green" />

                                    break;
                                }
                            case CatchStatusEnum.Pending:
                                {
                                    <MatFAB Icon="@MatIconNames.Schedule" Label="Pending" style="color: lightyellow;background-color:#ffc107" />
                                    break;
                                }
                            case CatchStatusEnum.Rejected:
                                {
                                    <MatFAB Icon="@MatIconNames.Pan_tool" Label="Rejected" style="color: darkgoldenrod;background-color:indianred" />
                                    break;
                                }
                        }
                        <MatIconButton Icon="@MatIconNames.Edit" @onclick="@(() => ShowEditDialog(catchRow.Id))"></MatIconButton>
                        <MatIconButton Icon="@MatIconNames.Delete" @onclick="@(() => ShowDeleteDialog(catchRow.Id))"></MatIconButton>
                    </MatCardActionIcons>
                </MatCardActions>

                <MatTabGroup>
                    <MatTab Label="Catch">
                        <img src="@image" style=" max-width: 100%;height: auto;">
                    </MatTab>
                    <MatTab Label="Measure">
                        <MatCard class="demo-mat-card">
                            <MatCardContent>
                                <img src="@catchRow.MeasurePhotoUrl" style=" max-width: 100%;height: auto;">
                                <a href="@catchRow.MeasurePhotoUrl">Download measure photo</a>
                            </MatCardContent>
                        </MatCard>
                    </MatTab>
                </MatTabGroup>
            </MatCard>
            <br>
        }
    }
</div>

@if (currentCatch != null & EditDialogShown == true)
{
    <EditCatch OnCancel="CancelEdit" OnSave="SaveCatch"
           currentCatch="@currentCatch"
           fishOptions="@fishOptions"
           dialogIsOpen="@EditDialogShown"
           adminEdit="true" />
}

@if (currentCatch != null & DeleteDialogShown == true)
{
    <ConfirmCatchDelete OnCancel="CancelDelete" OnConfirm="@(() => DeleteCatch(currentCatch.Id))" catchMade="@currentCatch" dialogIsOpen="@DeleteDialogShown" />
}

@if (selectedPhotoCatch != null & PhotoViewerCatchShown == true)
{
    <PhotoViewer OnClose="@(() => PhotoViewerCatchClose())" catchMade="@selectedPhotoCatch" dialogIsOpen="@PhotoViewerCatchShown" url="@selectedPhotoCatch.CatchPhotoUrl" />
}

@if (selectedMeasureCatch != null & PhotoViewerMeasureShown == true)
{
    <PhotoViewer OnClose="@(() => PhotoViewerMeasureClose())" catchMade="@selectedMeasureCatch" dialogIsOpen="@PhotoViewerMeasureShown" url="@selectedMeasureCatch.MeasurePhotoUrl" isAdmin=true />
}

@code {
    List<Catch> catches;
    List<Fish> fishOptions;

    public Catch currentCatch;
    bool EditDialogShown = false;
    bool DeleteDialogShown = false;
    bool PhotoViewerCatchShown = false;
    bool PhotoViewerMeasureShown = false;
    Catch selectedPhotoCatch;
    Catch selectedMeasureCatch;
    public IMatFileUploadEntry selectedMeasureFile;
    public IMatFileUploadEntry selectedCatchFile;
    private bool m_OnlyShowCompetitionCatches = true;
    public bool OnlyShowCompetitionCatches
    {
        get => m_OnlyShowCompetitionCatches;
        set
        {
            m_OnlyShowCompetitionCatches = value;
            ShowCompetitionCatchesChanged();
        }
    }

    protected async override Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient("server");
        fishOptions = await client.GetFromJsonAsync<List<Fish>>("fish");
        await LoadCatches(client);
        client.Dispose();
    }

    private void CancelEdit()
    {
        EditDialogShown = false;
        StateHasChanged();
    }

    private void CancelDelete()
    {
        DeleteDialogShown = false;
        StateHasChanged();
    }

    private void ShowEditDialog(Guid id)
    {
        currentCatch = catches.FirstOrDefault(e => e.Id == id);
        EditDialogShown = true;
        StateHasChanged();
    }

    private void ShowDeleteDialog(Guid id)
    {
        currentCatch = catches.FirstOrDefault(e => e.Id == id);
        DeleteDialogShown = true;
        StateHasChanged();
    }

    private void DeleteCatch(Guid id)
    {
        var client = ClientFactory.CreateClient("server");
        client.DeleteAsync("catch/admin/" + id);
        Catch catchToBeDeleted = catches.FirstOrDefault(e => e.Id == id);
        catches.Remove(catchToBeDeleted);
        DeleteDialogShown = false;

        // Delete photos
        client.DeleteAsync($"photo/{id}");
        StateHasChanged();
    }

    public void SelectionChangedEvent(object row)
    {
        if (row == null)
        {
            currentCatch = catches.FirstOrDefault();
        }
        else
        {
            currentCatch = ((Catch)row);
        }

        this.StateHasChanged();
    }

    public void PhotoViewerShowCatch(Catch catchSelected)
    {
        selectedPhotoCatch = catchSelected;
        PhotoViewerCatchShown = true;
        StateHasChanged();
    }

    public void PhotoViewerShowMeasure(Catch catchSelected)
    {
        selectedMeasureCatch = catchSelected;
        PhotoViewerMeasureShown = true;
        StateHasChanged();
    }

    public void PhotoViewerCatchClose()
    {
        PhotoViewerCatchShown = false;
        StateHasChanged();
    }

    public void PhotoViewerMeasureClose()
    {
        PhotoViewerMeasureShown = false;
        StateHasChanged();
    }

    private async Task SaveCatch(Dictionary<string, IMatFileUploadEntry> catchFiles)
    {
        Toaster.Add($"Catch #: {currentCatch.CatchNumber}, Type: {currentCatch.Fish}", MatToastType.Info, "Saving catch", "", config =>
        {
            config.ShowCloseButton = true;
            config.ShowProgressBar = true;
            config.MaximumOpacity = 100;

            config.ShowTransitionDuration = 500;
            config.VisibleStateDuration = 3000;
            config.HideTransitionDuration = 500;
        });

        var client = ClientFactory.CreateClient("server");
        StateHasChanged();

        HttpResponseMessage response = await client.PutAsJsonAsync("catch/admin/" + currentCatch.Id, currentCatch);
        if (response.StatusCode != System.Net.HttpStatusCode.OK)
        {
            Toaster.Add($"Catch #: {currentCatch.CatchNumber}, Type: {currentCatch.Fish}", MatToastType.Warning, "Saving catch failed", "", config =>
            {
                config.ShowCloseButton = true;
                config.ShowProgressBar = true;
                config.MaximumOpacity = 100;

                config.ShowTransitionDuration = 250;
                config.VisibleStateDuration = 2000;
                config.HideTransitionDuration = 500;
            });
            StateHasChanged();
        }
        else
        {
            currentCatch = await response.Content.ReadFromJsonAsync<Catch>();
            StateHasChanged();
        }
        StateHasChanged();
        Toaster.Add($"Catch #: {currentCatch.CatchNumber}, Type: {currentCatch.Fish}", MatToastType.Success, "Catch saved", "", config =>
        {
            config.ShowCloseButton = true;
            config.ShowProgressBar = true;
            config.MaximumOpacity = 100;

            config.ShowTransitionDuration = 250;
            config.VisibleStateDuration = 2000;
            config.HideTransitionDuration = 500;
        });
        EditDialogShown = false;
        StateHasChanged();
    }

    protected async Task ShowCompetitionCatchesChanged()
    {
        var client = ClientFactory.CreateClient("server");
        await LoadCatches(client);
        client.Dispose();
        StateHasChanged();
    }

    protected async Task LoadCatches(HttpClient client)
    {
        if (competitionState.Active == false | OnlyShowCompetitionCatches == false)
        {
            catches = await client.GetFromJsonAsync<List<Catch>>("catch/admin");
            if (catches.Count > 0)
            {
                currentCatch = catches.FirstOrDefault();
            }
            else
            {
                currentCatch = new Catch();
            }
        }
        else 
        {
            catches = await client.GetFromJsonAsync<List<Catch>>("catch/admin/competition/" + competitionState.CompetitionId);
            if (catches.Count > 0)
            {
                currentCatch = catches.FirstOrDefault();
            }
            else
            {
                currentCatch = new Catch();
            }
        }
    }
}