@page "/catches"
@inject HttpClient HttpClient
@using System.ComponentModel


<div class="main">

    @if (catches == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {

        <button type="button" class="btn btn-primary" @onclick="@((x) => AddNewCatch())">Add</button>
        <MatTable Items="@catches" class="mat-elevation-z5" Striped="true" RowClass="tester" SortBy="CatchNumber" PageSize="10" AllowSelection="true" SelectionChanged="SelectionChangedEvent" FilterByColumnName="Fish" >
            <MatTableHeader>
                <th width="10%">Catch #</th>
                <th width="10%">Global Catch #</th>
                <th width="10%">Catch Date</th>
                <th width="10%">Fish</th>
                <th width="10%">Fish Length</th>
                <th width="10%">Commands</th>
            </MatTableHeader>
            <MatTableRow>
                <td>@context.CatchNumber</td>
                <td>@context.GlobalCatchNumber</td>
                <td>@context.CatchDate</td>
                <td>@context.Fish</td>
                <td>@context.Length</td>
                <td>
                    <button class="btn btn-warning" @onclick="@(() => ShowDeleteDialog(context.RowKey))">Delete</button>
                </td>
            </MatTableRow>
        </MatTable>
        <EditCatch currentCatch="@currentCatch" fishOptions="@fishOptions" OnSubmit="@CatchSaved" HasChanged="true"/>
    }
</div>

<TemplatedDialog Show="@DeleteDialogShown">
    <ConfirmDelete OnCancel="CancelDelete" OnConfirm="@(() => DeleteCatch(currentCatch.RowKey))" catchMade="@currentCatch" />
</TemplatedDialog>

@code {
    List<Catch> catches;
    List<Fish> fishOptions;
    public Catch currentCatch;
    bool DeleteDialogShown = false;


    protected async override Task OnInitializedAsync()
    {
        fishOptions = await HttpClient.GetJsonAsync<List<Fish>>("fish");
        catches = await HttpClient.GetJsonAsync<List<Catch>>("catch");
        if (catches.Count > 0)
        {
            currentCatch = catches.FirstOrDefault();
        }
        else
        {
            currentCatch = new Catch();
        }

    }

    private async void AddNewCatch()
    {
        Catch newCatch = new Catch
        {
            Length = 0,
            Fish = "Pike",
            CatchDate = DateTime.Now
        };

        newCatch = await HttpClient.PostJsonAsync<Catch>("catch", newCatch);
        catches.Add(newCatch);
        currentCatch = newCatch;
        StateHasChanged();
    }


    private void CatchSaved()
    {
        StateHasChanged();
    }

    private void CancelDelete()
    {
        DeleteDialogShown = false;
    }

    private void ShowDeleteDialog(string id)
    {
        currentCatch = catches.FirstOrDefault(e => e.RowKey == id);
        DeleteDialogShown = true;
    }

    private void DeleteCatch(string id)
    {
        HttpClient.DeleteAsync("catch/" + id);
        Catch catchToBeDeleted = catches.FirstOrDefault(e => e.RowKey == id);
        catches.Remove(catchToBeDeleted);
        DeleteDialogShown = false;
        StateHasChanged();
    }

    public void SelectionChangedEvent(object row)
    {
        if (row == null)
        {
            currentCatch = null;
        }
        else
        {
            currentCatch = ((Catch)row);
        }

        this.StateHasChanged();
    }
} 