@page "/leaders/team"
@inject IHttpClientFactory ClientFactory
@inject IMatToaster Toaster
@inject FokkersFishing.Client.Helpers.CompetitionState competitionState
@using System.ComponentModel
@using System.IO
@attribute [Authorize(Roles = "Administrator, User")]

<h1>Fokkers Competition Team Leaderboard</h1>
 @if (competitionState.Active)
{
    @if (catches == null & currentTeam == null)
    {
        <p><em>Loading Team Catches Leaderboard...</em></p>
        <MatProgressBar Indeterminate="true"></MatProgressBar>
    }
    else
    {
        <div class="main">
            <h3>All Catches for team: @currentTeam.Name</h3>
            <MatTable Items="@catches" class="mat-elevation-z5" Striped="true"
                      RowClass="tester"
                      SortBy="Length"
                      PageSize="25"
                      FilterByColumnName="Fish"
                      ShowPaging="true">
                <MatTableHeader>
                    <th width="10%">Catch #</th>
                    <th width="30%">Catch Date</th>
                    <th width="10%">Fish</th>
                    <th width="20%">Fish Length</th>
                    <th width="20%">Fisherman</th>
                    <th width="20%">Catch</th>
                    <th width="20%">Measure</th>
                </MatTableHeader>
                <MatTableRow>
                    <td>@context.GlobalCatchNumber</td>
                    <td>@context.CatchDate</td>
                    <td>@context.Fish</td>
                    <td>@context.Length</td>
                    <td>@context.UserName</td>
                    <td>
                        <img src="@context.CatchThumbnailUrl" style=" max-width: 100%;height: auto;" @onclick="@(() => PhotoViewerShowCatch(context))" />
                    </td>
                    <td>
                        <img src="@context.MeasureThumbnailUrl" style=" max-width: 100%;height: auto;" @onclick="@(() => PhotoViewerShowMeasure(context))" />
                    </td>
                    <td>
                        @switch (context.Status)
                        {
                            case CatchStatusEnum.Approved:
                                {
                                    <MatFAB Icon="@MatIconNames.Done_all" Label="Approved" style="color: lightgreen;background-color: green" />
                                    <MatIconButton Icon="@MatIconNames.Edit" @onclick="@(() => ShowEditDialog(context.Id))"></MatIconButton>
                                    <MatIconButton Icon="@MatIconNames.Delete" @onclick="@(() => ShowDeleteDialog(context.Id))"></MatIconButton>
                                    break;
                                }
                            case CatchStatusEnum.Pending:
                                {
                                    <MatFAB Icon="@MatIconNames.Schedule" Label="Pending" style="color: lightyellow;background-color:#ffc107" />
                                    <MatIconButton Icon="@MatIconNames.Edit" @onclick="@(() => ShowEditDialog(context.Id))"></MatIconButton>
                                    <MatIconButton Icon="@MatIconNames.Delete" @onclick="@(() => ShowDeleteDialog(context.Id))"></MatIconButton>

                                    break;
                                }
                            case CatchStatusEnum.Rejected:
                                {
                                    <MatFAB Icon="@MatIconNames.Pan_tool" Label="Rejected" style="color: darkgoldenrod;background-color:indianred" />
                                    break;
                                }
                        }
                    </td>
                </MatTableRow>
            </MatTable>
            @if (scores == null)
            {
                <p><em>Loading Team Scores...</em></p>
                <MatProgressBar Indeterminate="true"></MatProgressBar>
            }
            else
            {
                <h3>Fish List</h3>
                <MatTable Items="@scores" class="mat-elevation-z5" Striped="true"
                          RowClass="tester"
                          SortBy="TotalLength" PageSize="10"
                          ShowPaging="false">
                    <MatTableHeader>
                        <th width="30%">Fish</th>
                        <th width="30%">Total Fish Length</th>
                        <th width="30%">Total Fish Caught</th>
                    </MatTableHeader>
                    <MatTableRow>
                        <td>@context.Fish</td>
                        <td>@context.TotalLength</td>
                        <td>@context.FishCount</td>
                    </MatTableRow>
                </MatTable>

            }
        </div>
    }

    @if (currentCatch != null & EditDialogShown == true)
    {
        <EditCatch OnCancel="CancelEdit" OnSave="SaveCatch"
                   currentCatch="@currentCatch"
                   fishOptions="@fishOptions"
                   dialogIsOpen="@EditDialogShown"
                   adminEdit="false"
                   users="@users" />
    }

    @if (currentCatch != null & DeleteDialogShown == true)
    {
        <ConfirmCatchDelete OnCancel="CancelDelete" OnConfirm="@(() => DeleteCatch(currentCatch.Id))" catchMade="@currentCatch" dialogIsOpen="@DeleteDialogShown" />
    }

    @if (selectedPhotoCatch != null & PhotoViewerCatchShown == true)
    {
        <PhotoViewer OnClose="@(() => PhotoViewerCatchClose())" catchMade="@selectedPhotoCatch" dialogIsOpen="@PhotoViewerCatchShown" url="@selectedPhotoCatch.CatchPhotoUrl" />
    }

    @if (selectedMeasureCatch != null & PhotoViewerMeasureShown == true)
    {
        <PhotoViewer OnClose="@(() => PhotoViewerMeasureClose())" catchMade="@selectedMeasureCatch" dialogIsOpen="@PhotoViewerMeasureShown" url="@selectedMeasureCatch.MeasurePhotoUrl" />
    }

}
else
{
    <h4>No competition active. Team Leaderboard unavailable</h4>
}

@code {
    List<Catch> catches;
    List<TeamScore> scores;
    List<Fish> fishOptions;
    List<User> users;
    Team currentTeam;

    bool PhotoViewerCatchShown = false;
    bool PhotoViewerMeasureShown = false;

    public Catch currentCatch;
    bool EditDialogShown = false;
    bool DeleteDialogShown = false;

    Catch selectedPhotoCatch;
    Catch selectedMeasureCatch;
    public IMatFileUploadEntry selectedMeasureFile;
    public IMatFileUploadEntry selectedCatchFile;

    protected async override Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient("server");
        if (competitionState.Active)
        {
            try
            {
                currentTeam = await client.GetFromJsonAsync<Team>("team/byuser");
                fishOptions = await client.GetFromJsonAsync<List<Fish>>("fish");
                users = await client.GetFromJsonAsync<List<User>>("adminuser/users");
                catches = await client.GetFromJsonAsync<List<Catch>>("leaderboard/team/" + competitionState.CompetitionId);
                scores = await client.GetFromJsonAsync<List<TeamScore>>("leaderboard/team/scores/" + competitionState.CompetitionId);
            }
            catch (Exception ex)
            {

            }
        }
    }

    public void PhotoViewerShowCatch(Catch catchSelected)
    {
        selectedPhotoCatch = catchSelected;
        PhotoViewerCatchShown = true;
        StateHasChanged();
    }

    public void PhotoViewerShowMeasure(Catch catchSelected)
    {
        selectedMeasureCatch = catchSelected;
        PhotoViewerMeasureShown = true;
        StateHasChanged();
    }

    public void PhotoViewerCatchClose()
    {
        PhotoViewerCatchShown = false;
        StateHasChanged();
    }

    public void PhotoViewerMeasureClose()
    {
        PhotoViewerMeasureShown = false;
        StateHasChanged();
    }

    public void SelectionChangedEvent(object row)
    {
        if (row == null)
        {
            currentCatch = catches.FirstOrDefault();
        }
        else
        {
            currentCatch = ((Catch)row);
        }

        this.StateHasChanged();
    }

    private void ShowEditDialog(Guid id)
    {
        currentCatch = catches.FirstOrDefault(e => e.Id == id);
        EditDialogShown = true;
        StateHasChanged();
    }

    private void CancelEdit()
    {
        EditDialogShown = false;
        StateHasChanged();
    }

    private void CancelDelete()
    {
        DeleteDialogShown = false;
        StateHasChanged();
    }

    private void ShowDeleteDialog(Guid id)
    {
        currentCatch = catches.FirstOrDefault(e => e.Id == id);
        DeleteDialogShown = true;
        StateHasChanged();
    }

    private void DeleteCatch(Guid id)
    {
        var client = ClientFactory.CreateClient("server");
        client.DeleteAsync("catch/team/" + id);
        Catch catchToBeDeleted = catches.FirstOrDefault(e => e.Id == id);
        catches.Remove(catchToBeDeleted);
        DeleteDialogShown = false;

        // Delete photos
        client.DeleteAsync($"photo/{id}");
        StateHasChanged();
    }

    private async Task SaveCatch(Dictionary<string, IMatFileUploadEntry> catchFiles)
    {
        IMatFileUploadEntry selectedMeasureFile = catchFiles["measure"];
        IMatFileUploadEntry selectedCatchFile = catchFiles["catch"];

        var client = ClientFactory.CreateClient("server");
        HttpResponseMessage response = null;

        Toaster.Add($"Catch #: {currentCatch.CatchNumber}, Type: {currentCatch.Fish}", MatToastType.Info, "Saving catch", "", config =>
    {
        config.ShowCloseButton = true;
        config.ShowProgressBar = true;
        config.MaximumOpacity = 100;

        config.ShowTransitionDuration = 2000;
        config.VisibleStateDuration = 5000;
        config.HideTransitionDuration = 500;
    });
        StateHasChanged();
        // Upload photos
        if (selectedMeasureFile != null)
        {
            Photo measurePhoto = new Photo { Id = currentCatch.Id, PhotoType = PhotoTypeEnum.Measure };
            MemoryStream stream = new MemoryStream();
            await selectedMeasureFile.WriteToStreamAsync(stream);

            measurePhoto.ImageContent = stream.ToArray();
            stream.Close();
            HttpResponseMessage responsePhoto = await client.PostAsJsonAsync<Photo>($"photo", measurePhoto);
            if (responsePhoto.StatusCode == System.Net.HttpStatusCode.Created)
            {
                UploadPhotoResponse photoResponse = await responsePhoto.Content.ReadFromJsonAsync<UploadPhotoResponse>();
                currentCatch.MeasurePhotoUrl = photoResponse.PhotoUrl;
                currentCatch.MeasureThumbnailUrl = photoResponse.ThumbnailUrl;
            }
        }

        if (selectedCatchFile != null)
        {
            Photo catchPhoto = new Photo { Id = currentCatch.Id, PhotoType = PhotoTypeEnum.Catch };
            MemoryStream stream = new MemoryStream();
            await selectedCatchFile.WriteToStreamAsync(stream);

            catchPhoto.ImageContent = stream.ToArray();
            stream.Close();
            HttpResponseMessage responsePhoto = await client.PostAsJsonAsync<Photo>($"photo", catchPhoto);
            if (responsePhoto.StatusCode == System.Net.HttpStatusCode.Created)
            {
                UploadPhotoResponse photoResponse = await responsePhoto.Content.ReadFromJsonAsync<UploadPhotoResponse>();
                currentCatch.CatchPhotoUrl = photoResponse.PhotoUrl;
                currentCatch.CatchThumbnailUrl = photoResponse.ThumbnailUrl;
            }
        }

        // Reset to pending
        currentCatch.Status = CatchStatusEnum.Pending;
        response = await client.PutAsJsonAsync("catch/" + currentCatch.Id, currentCatch);
        if (response.StatusCode != System.Net.HttpStatusCode.OK)
        {
            Toaster.Add($"Catch #: {currentCatch.CatchNumber}, Type: {currentCatch.Fish}", MatToastType.Warning, "Saving catch failed", "", config =>
            {
                config.ShowCloseButton = true;
                config.ShowProgressBar = true;
                config.MaximumOpacity = 100;

                config.ShowTransitionDuration = 1000;
                config.VisibleStateDuration = 2000;
                config.HideTransitionDuration = 500;
            });
            StateHasChanged();
        }
        else
        {
            currentCatch = await response.Content.ReadFromJsonAsync<Catch>();
            StateHasChanged();
        }

        selectedMeasureFile = null;
        selectedCatchFile = null;
        StateHasChanged();
        Toaster.Add($"Catch #: {currentCatch.CatchNumber}, Type: {currentCatch.Fish}", MatToastType.Success, "Catch saved", "", config =>
        {
            config.ShowCloseButton = true;
            config.ShowProgressBar = true;
            config.MaximumOpacity = 100;

            config.ShowTransitionDuration = 750;
            config.VisibleStateDuration = 1500;
            config.HideTransitionDuration = 500;
        });
        EditDialogShown = false;
        StateHasChanged();
    }
}


